.wrapper {
	width: 700px;
	/*height: 700px;*/

	margin-top: 30px ;
	margin-left: auto;
	margin-right: auto;

	border-style: solid;
	border-color: #ddd;
	border-width: 0 0 0 1;

	padding: 0;

}

.cell {
	border-style: solid;
	border-color: #ddd;
	border-width: 1 1 1 0;

	/*float: left;*/
	display:inline-block;
}

.wrapper .clear {

	clear: both;
}

.fill-solid {

	background-color: #444;
}